---
// Este layout recibe "Content" y "post" desde la página [slug].astro
const { Content, frontmatter } = Astro.props;
import '../styles/global.css';

import Header from '../components/Header.astro';
import SidebarCTF from '../components/SidebarCTF.astro';
import Footer from '../components/Footer.astro';



---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{frontmatter.title}</title>
  </head>
  <body class="bg-black text-white font-sans">
   
  <Header frontmatter={frontmatter} />


    <div class="flex max-w-7xl mx-auto py-10 px-6">
      <!-- Índice lateral -->
  
    <SidebarCTF />
      <!-- Contenido principal -->
      <main class="w-4/5 prose prose-invert max-w-none">
        <Content />

        <!-- Comentarios -->
        <div class="mt-16">
          <div
            id="cusdis_thread"
            data-host="https://cusdis.com"
            data-app-id="TU_ID_CUSDIS"
            data-page-id={frontmatter.slug}
            data-page-url={`https://ctf.villaarreola.com/ctf/${frontmatter.slug}`}
            data-page-title={frontmatter.title}
          ></div>
          <script defer src="https://cusdis.com/js/cusdis.es.js"></script>
        </div>
      </main>
    </div>

    <!-- Footer -->
    
    <Footer />
  </body>
</html>
